# {{ ansible_managed }}
# SSH configuration for Azure VM: {{ vm_name }}

Host {{ vm_name }}
    HostName {{ vm_public_ip if enable_public_ip | default(true) | bool else vm_private_ip }}
    User {{ vm_admin_username }}
    Port 22
    IdentityFile {{ ssh_private_key_file | default('~/.ssh/id_ed25519') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ServerAliveInterval 60
    ServerAliveCountMax 3
    ControlMaster auto
    ControlPath ~/.ssh/control-%r@%h:%p
    ControlPersist 10m
    ForwardAgent yes
    
# Alias for convenience
Host {{ vm_name }}-azure
    HostName {{ vm_public_ip if enable_public_ip | default(true) | bool else vm_private_ip }}
    User {{ vm_admin_username }}
    Port 22
    IdentityFile {{ ssh_private_key_file | default('~/.ssh/id_ed25519') }}